.content{
    display: flex;
}

/* Autorization */
.autorization-form{
    position: relative;
    margin: 20px;
    display: grid;
    justify-content: center;
    grid-template-rows: 30px 30px 30px 30px 10px 30px;
    grid-template-columns: 400px;
}

input[type='text']{
    height: 16pt;
}

label{
    font-size: 13pt;
    margin-left: 20px;
    padding-top: 8px;
}

input#autorize{
    font-size: 14pt;
    height: 100%;
    width: 50%;
    min-width: 100px;
    grid-row: 6/6;
}

/* Menu */
ul{
    display: flex;
    margin-top: 0px;
    width: 100%;
    list-style: none;
    background-color: #49688e;
    padding: 0px;
}

li{
    float: left;
    height: auto;
    background-color: #49688e;
    width: 20%;
    font-weight: bold;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-top-width: 2px;
    border-color: white;
    text-align: center;
    padding: 10px;
}

li:hover{
    background-color: #f4a024;
    cursor: pointer;
}

li.clicked{
    background-color: #f4a024;
}

h2{
    margin:0px;
}

.buttons{
    grid-row: 4/4;
}

/* Subject */
.list{
    width: 50%;
    margin-left: 5%;
    text-align: center;
}

.subjects-table, .teachers-table, .classes-table table {
    width: 100%;
}

.add{
    width: 45%;
    text-align: center;
}

.subject-form{
    justify-content: center;
    display: grid;
    grid-template-rows: 30px 30px 10px;
    text-align: left;
    grid-template-columns: 270px;
}

.subjects-table th, td{
    text-align: left;
}

p.clicked {
    width: max-content;
    margin: 10px 0px;
}

p.clicked:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.message{
    margin: 20px;
    text-align: center;
    color: red;
    font-size: 14pt;
    font-weight: bold;
}

.buttons #submit, button{
    width: 48%;
    margin: 0px 1%;
    height: 100%;
    font-size: 14pt;
}

/* Teachers.js */
.select-subject {
    display: none;
}

.teacher-form {
    justify-content: center;
    display: grid;
    grid-auto-rows: 35px;
    text-align: left;
    grid-template-columns: 30vw 50px;
}

.teacher-form input#name {
    grid-column: 1;
    grid-row: 2;
    display: flex;
}

.teacher-form select {
    grid-column: 1;
    grid-row: 3;
    height: 30px;
    display: none;
}

.teacher-form #enable-select {
    grid-column: 2;
    grid-row: 3;
    width: 90%;
    margin-left: 10%;
    height: 30px;
}

.teacher-form #disable-select {
    grid-column: 2;
    grid-row: 4;
    display: none;
    width: 90%;
    margin-left: 10%;
    height: 30px;
}

/* Lesson.js */

.classes-table {
    display:inline-block;
    width: 100%;
}

.lesson {
    display: inline;
    width: 100%;
    text-align: center;
}
.lesson-buttons{
    width: 100%;
    margin: 15px;
    display: grid;
    justify-content: center;
    grid-template-columns: 400px;
    grid-template-rows: repeat(30px, 2);
    gap: 10px;
}

.lesson-buttons button {
    width: 100%;
    font-size: 14pt;
    min-height: 16pt;
    margin: 0;
}

.classes-table table td {
    min-width: 30px;
    padding: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.classes-table table td.have-element {
    text-align: center;
    background-color: #49688e;
    color: white;
    font-weight: bold;
}

.classes-table table td.empty-element {
    min-width: 30px;
    padding: 15px;
    border-style: solid;
    border-width: 5px;
}

.classes-table td.have-element:hover {
    cursor: pointer;
    background-color: #f4a024;
}

/* Profile.js */
.profile {
    width: 100%;
    text-align: center;
}

.profile-form {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px;
    grid-template-rows: 20px 30px 20px 30px 20px 30px 30px;
    gap: 5px;
    text-align: left;
}

.profile-form label {
    padding-top: 0;
}

.profile-form #update-profile {
    font-size: 14pt;
    height: 100%;
    width: 50%;
    min-width: 100px;
}

/* NewSchedule.js */
.new-schedule {
    width: 100%;
    height: 85vh;
    text-align: left;
    display: inline;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.action {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 30px;
    margin: 10px 0px;
}

.action label {
    margin: 0px 10px;
}

.action #submit {
    height: 100%;
    font-size: 12pt;
    width: 48%;
}

.action button {
    font-size: 12pt;
}

.create-schedule {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.lessons-table {
    width: 100%;
    display: table;
    border-spacing: 0px 7px;
}

.week-header {
    width: 99%;
    text-align: center;
    font-size: 14pt;
    height: 23px;
    background-color: #49688e;
    color: white;
    font-weight: 500;
}

.lessons-table td {
    height: 25px;
}

.lessons-table .td-select {
    width: 30%;
}

.subject-select, .teacher-select {
    width: 100%;
    height: 100%;
    margin-left: 2px;
}

.td-time {
    width: 20%;
    height: 100%;
}

.td-time .hour, .td-time .minute {
    width: 40%;
    margin-left: 5px;
}

.td-time .minute {
    margin-left: 5px;
}

@media (max-width: 1170px) {
    
}